.lista {
    margin: 20px;
}

.elemento {
    display: flex;
    margin-bottom: 20px;
    border: 4px solid #dda15e;
    background-color: #fefae0;
    border-radius: 20px;
}

.immagineLista {
    width: 20%;
    height: fit-content;
    padding: 20px;
    border-radius: 20%;
    align-self: center;
}

.testoLista {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.titloloLista {
    border: 3px solid #283618;
    background-color: #606c38;
    width: fit-content;
    border-radius: 20px;
}

.descrizioneLista {
    margin-bottom: 10px;
    margin-top: 10px;
}

.linkLista {
    margin-top: 20px;
    color: #fefae0;
}

.linkLista a {
    background-color: #606c38;
    padding: 10px;
    margin: 5px;
    border: 4px solid #283618;
    color: #181818;
    border-radius: 20px;
    width: fit-content;
}

.linkLista a:hover {
    background-color: #626657;
    border: 4px solid #2b2c2a;
}


.topInfo {
    background-color: #fefae0;
    margin: 20px;
    padding: 2% 4%;
    border-radius: 20px;
    border: 4px solid #dda15e;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descrizione {
    width: 20%;
}

form {
    width: 60%;
    text-align: center;
}

.leftWord {
    width: 20%;
    text-align: center;
}

.topWordIs {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

.secretWord {
    display: block;
    margin: 0 auto;

}


input[type="text"] {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
}

.TitoloSezione {
    border: 3px solid #283618;
    background-color: #606c38;
    width: 20%;
    border-radius: 20px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.hintSection {
    margin-left: 25px;

}

.hint {
    border: 3px solid #dda15e;
    background-color: #fefae0;
    width: 10%;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    position: relative;
    padding: 10px;
    margin-right: 10px;
    vertical-align: top;
    cursor: help;

}


.hint .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 250px;
    background-color: #dda15e;
    color: #fefae0;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    vertical-align: top;
    display: inline-block;
    cursor: help;
}

.hint .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    cursor: help;
}

.hint:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: help;
}

.hintTxt {
    width: 10%;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    position: relative;
    padding: 10px;
    margin-right: 10px;
    vertical-align: top;
    cursor: e-resize;
}


.hintTxt .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    vertical-align: top;
    display: inline-block;
    cursor: help;
}

.hintTxt .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.hintTxt:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



.hintSection {
    display: flex;
}

.hintTxt,
.hint {
    flex: 0 0 auto;
    margin-right: 10px;

}